" Common remaps
" makes scroll wheel faster
set scrolloff=5

" makes search case insensitive
set incsearch
" makes search highlight all matches
map Q gq
" set leader to space
let mapleader = " "
" set clipboard to system clipboard
set clipboard+=unnamedplus
" set jj to escape
inoremap jj <Esc>
" sets number
set number
" sets relative number
set relativenumber
" sets tab to 4 spaces
set tabstop=4
" sets shiftwidth to 4 spaces
set shiftwidth=4
" sets expandtab to true
set expandtab

" import plugins
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'2
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'easymotion/vim-easymotion'
Plug 'dbakker/vim-paragraph-motion'

" my keybindings
:map <leader>sr <Action>(Replace)
:map <leader>q :wq<CR>

" toggle nerdtree"
:map <leader>o :NERDTreeToggle<CR>
" focus nerdtree"
:map <leader>e :NERDTreeFocus<CR>
" map to have zz when i do ctrl u or d"
:map <C-u> <C-u>zz
:map <C-d> <C-d>zz
"format code with leader fm - webstorm action"
:map <leader>fm <Action>(ReformatCode)
"open terminal with alt i - webstorm action"
:map <A-i> <Action>(ActivateTerminalToolWindow)
"open find files with leader ff - webstorm action"
:map <leader>ff <Action>(GotoFile)
"open action with leader fa - webstorm action"
:map <leader>fa <Action>(SearchEverywhere)
"toggle breakpoint with leader db - webstorm action"
:map <leader>db <Action>(ToggleLineBreakpoint)
"start debug with leader dr - webstorm action"
:map <leader>dr <Action>(Debug)
"map / and ? to find and find with case sensitive - webstorm action"
:map / <Action>(Find)
:map ? <Action>(Find)